.newsbox
{
  height:400px;
  width: 32.5%;
  margin: 2px 4px;
  border: 2px solid wheat
}

.newsbox img {
  width: 40%;
  float: left;
  margin-left: 2px;
  margin-top: 4px;
  height:100%;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.news_description
{
  width: 50%;
  float: left;
  text-align: center;
  font-size: larger;
  font-weight: 700;
  margin-top: 20px;
  margin-left: 6px;
  cursor: pointer
}

.date_heading {
  font-size: 22px;
}

.image_news {
   width: 350px !important;
   height:190px !important
}

@media all and (min-width:0px) and (max-width: 480px) {
  /* put your css styles in here */
  .newsbox {
    height: 400px;
    width: 400px;
    margin: 2px 22px;
    border: 2px solid wheat;
}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .newsbox {
    height: 521px;
    width: 700px;
    margin: 2px 22px;
    border: 2px solid wheat;
  }
}
.mediaBanner {
  background-image: url('../../../assests/pageBanners/image4.jpeg');
}
