.footer {
  background-color: #000;
  color: #fff;
  padding: 1%;
  margin-top: 40px;
}

.hr_style {
  width:100px;
  background-color: #ff5722;
  height: 2px;
  margin-bottom: 45px;
}

.footerSocialIcon {
  padding: 8px;
  color: #2fc74a;
}

.footerSocialIcon:hover {
  color: #fff;
}

.copyrightText {
  display: block;
  padding-top: 8px;
}
