
.fh5co-testimonial figure img, .fh5co-team figure img {
  width: 130px;
height: 130px;
border: 10px solid #fff;
background-size: cover;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
border-radius: 50%;
background-color:  red;
}

.fh5co-testimonial, .fh5co-team {
  position: relative;
  background: #fff;
  padding: 4em 0;
  border-radius: 5px;
}

.fh5co-section-gray {
  background: rgba(0, 0, 0, 0.04);
}
